/* -----------------------------------------------
   Tabellenlayout Emissionen
------------------------------------------------- */

/* Stellt sicher, dass Tabelle über volle Breite geht,
   feste Spaltenbreiten und keine automatische Anpassung */
#emissionenTabelle {
  display: table;
  width: 100%;
  table-layout: fixed;         /* Spaltenbreite über HTML bestimmt */
  margin-left: 0;
  margin-right: 0;
}

/* Stellt sicher, dass Tabellenzellen nicht umbrechen,
   lange Inhalte werden durch „…“ gekürzt */
#emissionenTabelle th,
#emissionenTabelle td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  vertical-align: middle;
  border: 0.0625rem solid #dee2e6;
  min-width: 5ch;
  text-align: left; 
}

/* -----------------------------------------------
   Navigation links
------------------------------------------------- */

/* Gestaltung des lokalen Navigationsblocks: visuell abgesetzt,
   optisch wie ein „Sticky-Sidebar“-Modul */
#lokaleNavigation {
  position: static;
  margin-bottom: 2rem;
  background: #f8f9fa;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
}


/* Sorgt für genug Platz unterhalb der Tabellenbereiche,
   wenn keine Scroll-Anchor gesetzt sind */
#emissionen-ranking,
#emissionen-uebersicht {
  height: auto;
  /*scroll-margin-top: 2rem; */ /* bei Sticky-Header relevant  */
  padding-bottom: 2rem;
}
