@media (min-width: 768px) {
  #lokaleNavigation {
    position: fixed;
    top: 6.8rem;
    left: 1.25rem;
    width: clamp(12rem, 15vw, 18rem);
  }

  /* Einrückung für beide Views */
  #emissionen,
  #rankingView {
    margin-left: clamp(12rem, 15vw, 18rem);
    margin-right: 0;
  }

  [dir="rtl"] #lokaleNavigation {
    left: auto;
    right: 1.25rem;
    text-align: right;
  }

  [dir="rtl"] #emissionen,
  [dir="rtl"] #rankingView{
    margin-left: 0;
    margin-right: clamp(12rem, 15vw, 18rem);
  }
}
