<section id="home" class="view d-flex position-relative align-items-center justify-content-center">

    <div>
      <div class="gif-background">
        <img src="https://media.giphy.com/media/fn4OmpU7AfSdNowx9T/giphy.gif" alt="CO₂ Animation">
      </div>
      <div class="home-content position-relative text-center">
        <h2 class="display-4">Willkommen bei GreenTrace</h2>
        <p class="lead">Damit CO²-Emissionen gesenkt werden, müssen wir wissen, an welchen Stellschrauben wir drehen müssen.</p>
      </div>
    </div>
</section>