<section id="impressum" class="view hidden">
    <div>
      <h2>Impressum</h2>
      <p><strong>Angaben gemäß § 5 TMG:</strong></p>
      <p>Alexander Staus<br>Musterstraße 1<br>12345 Musterstadt<br>Deutschland</p>
      <p><strong>Kontakt:</strong><br>Telefon: 01234 567890<br>E-Mail: info@green-trace.de</p>
      <p class="mt-4 small text-muted">GreenTrace ist als gemeinnützige Organisation teilweise von der Körperschaftsteuer gemäß § 5 Abs. 1 Nr. 9 KStG unter der Steuernummer 17/433/04892 befreit.</p>
    </div>
</section>